{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">

    <title>Sales Management System</title>
  </head>
  <body class="font-body bg-gray-200 overflow-x-hidden">
    <nav class="fixed flex w-full h-12 top-0 items-center justify-between bg-primary2 text-white z-10">
      <a href="{% url 'products' %}" class="ml-10 font-semibold text-lg">Sales Mangement System</a>
      <ul class="list-none flex justify-around items-center w-3/6 relative">
        <li class=""><a href="{% url 'products' %}">Products</a></li>
        {% if user.is_authenticated %}
        <li class=""><a  href="{% url 'createinvoice' %}" >Create Invoice</a></li>
        <li class=""><a  href="{% url 'dashboard' %}" >Dashboard</a></li>
        {% endif%}
        {% if user.is_authenticated %}
        <li class="text-secondary-600"><a  href="{% url 'logout'%}">Logout</a></li>
        {% else %}
        <li class=""><a  href="{% url 'login'%}">Login</a></li> 
        {% endif%}
      </ul>
    </nav>
    {%if messages%}
      {% for message in messages %}
          {% if message.tags == 'success' %}
              <div class="grid relative top-14 w-full place-items-center">
                <div class="p-2 bg-green-500 items-center text-indigo-100 leading-none rounded-full flex" role="alert">
                  <span class="flex rounded-full bg-secondary-700 uppercase px-2 py-1 text-xs font-bold mr-3">{{message.tags}}</span>
                  <span class="font-semibold mr-2 text-left flex-auto text-primary2">{{message}}</span>
                </div>
              </div>      
          {% elif message.tags == 'info' %}
            <div class="grid relative top-14 w-full place-items-center">
              <div class="p-2 bg-gray-300 items-center text-indigo-100 leading-none rounded-full flex" role="alert">
                <span class="flex rounded-full bg-secondary-500 uppercase px-2 py-1 text-xs font-bold mr-3">{{message.tags}}</span>
                <span class="font-semibold mr-2 text-left flex-auto text-primary2">{{message}}</span>
              </div>
            </div>
          {% endif %}
      {% endfor %}
    {% endif %}
    <main class="relative top-12">
        {% block content %}
        <!-- for childs -->
        {% endblock content %}
    </main>
  </body>
  <script>
    const showChange =(e)=>{
      let span = document.querySelector('.currSpan')
      let alert = document.querySelector('.alert')
      if (span){
        span.innerHTML = `${e.target.value}`
      }
      if(alert) alert.innerText = ""
      
      if ( e.target.value<=0){
        alert.innerText = "Invalid value."
      }
    }
    let sn = document.querySelectorAll('.sn')
    if (sn){
      sn.forEach((elem,id)=>elem.innerHTML=`${id+1}`)
    }
  </script>
</html>
