{% extends "core/base.html" %}
{% block content %}
{% load static %}
<header class="text-center pt-6 relative ">
  <h1 class="text-3xl font-bold">Delete invoice</h1>
  <br />
</header>
<br />
<section class="absolute top-28 ml-48 bg-gray-300 w-9/12 h-fit py-7 flex items-center justify-around rounded-xl">
  <div>
    <h2 class="font-bold text-2xl text-center">Confirm Deletion?</h2>
    <div class="m-4">
    <form method="POST">
      {% csrf_token %}
      <fieldset>
      <h2>Do you want to delete the invoice of customer : <span class = "font-bold">{{ invoice.customer_name}}</span> ?</h2>
      <div class = 'flex justify-evenly items-center mt-4'>
          <button type="submit" class="btn ">Yes</button>
          <a class = "btn" href="{% url 'sales' %}"> Cancel</a>
      </div>
    </fieldset>
    </form>
    </div>
  </div>
</section>

{% endblock content %}