{% extends "core/base.html" %}
{% block content %}
{% load static %}
<header class="text-center pt-6 relative left-28">
  <h1 class="text-3xl font-bold">List of Products</h1>
</header>
<br />
<aside class="fixed top-48 left-5 w-2/12 min-h-fit flex flex-col bg-gray-300 ml-4 items-center justify-evenly p-8 rounded-xl flex-wrap">
  <div class="pb-5">
    <form class='filter-form'>
      <label for="filter" class="text-center font-bold text-xl"><h3>Filter By Price</h3></label>
      {% if q is not None and q != '5000' %}
      <h3 class="text-center h-8 my-3">Products filtered less than: <span class="currSpan font-bold">{{q}}</span></h3>
      {% endif %}
      <span class="alert text-secondary-100 text-center"></span>
      <input
        class="slider "
        type="range"
        name="filter"
        id=""
        min="0"
        max="5000"
        value="5000"
        step="100"
        onchange="showChange(event)"
        autofocus
      />
      <div class="flex justify-evenly items-center mt-4">
        <button type = "submit" value="submit" class="filter-btn btn">Filter</button>
        <button  value="reset" class="btn " onclick="document.querySelector('.slider').value=5000">Reset</button>
      </div>
    </form>
  </div>
  <a   class = "btn  mb-3" href="{% url 'productslist' %}"> Product List</a>
  {% if user.is_authenticated %}
  <a  href="{% url 'createproduct' %}" class = "btn" >Add products</a>
  {% endif %}
</aside>

<section class="grid md:grid-cols-4 sm:grid-cols-2 gap-4 absolute top-28 left-96 mt-7 h-auto w-8/12 p-5 overflow-hidden bg-gray-300 rounded-xl ">
  {% for product in products %}
  <div class="card hover:shadow-lg">
    <img
      src="/media/{{ product.product_image }}"
      class="w-48 h-48 min-w-full"
    />
    <div class="m-4">
      <span class="font-bold">{{ product.product_name }}</span>
      <span class="block">Rs.{{ product.unit_price }}</span>
    </div>
    {% if user.is_authenticated %}
    <div class=" flex justify-around items-center px-4 mb-3 h-8 ">
      <a class= "btn text-center " href="{% url 'updateproduct' product.id %}"> <?xml  version="1.0"?><svg  fill="#fff" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 32 32" width="24px" height="24px">    <path d="M 22.828125 3 C 22.316375 3 21.804562 3.1954375 21.414062 3.5859375 L 19 6 L 24 11 L 26.414062 8.5859375 C 27.195062 7.8049375 27.195062 6.5388125 26.414062 5.7578125 L 24.242188 3.5859375 C 23.851688 3.1954375 23.339875 3 22.828125 3 z M 17 8 L 5.2597656 19.740234 C 5.2597656 19.740234 6.1775313 19.658 6.5195312 20 C 6.8615312 20.342 6.58 22.58 7 23 C 7.42 23.42 9.6438906 23.124359 9.9628906 23.443359 C 10.281891 23.762359 10.259766 24.740234 10.259766 24.740234 L 22 13 L 17 8 z M 4 23 L 3.0566406 25.671875 A 1 1 0 0 0 3 26 A 1 1 0 0 0 4 27 A 1 1 0 0 0 4.328125 26.943359 A 1 1 0 0 0 4.3378906 26.939453 L 4.3632812 26.931641 A 1 1 0 0 0 4.3691406 26.927734 L 7 26 L 5.5 24.5 L 4 23 z"/></svg></a>&ensp;
      <a class="btn text-center" href="{% url 'deleteproduct' product.id %}"> <svg fill="#ff0000" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" width="24px" height="24px"><path d="M 10.806641 2 C 10.289641 2 9.7956875 2.2043125 9.4296875 2.5703125 L 9 3 L 4 3 A 1.0001 1.0001 0 1 0 4 5 L 20 5 A 1.0001 1.0001 0 1 0 20 3 L 15 3 L 14.570312 2.5703125 C 14.205312 2.2043125 13.710359 2 13.193359 2 L 10.806641 2 z M 4.3652344 7 L 5.8925781 20.263672 C 6.0245781 21.253672 6.877 22 7.875 22 L 16.123047 22 C 17.121047 22 17.974422 21.254859 18.107422 20.255859 L 19.634766 7 L 4.3652344 7 z"/></svg></a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</section>

{% endblock content %}
